 <!-- HERO -->
 <section class="hero is-link">
    <div class="hero-body ">
        <div class="columns">
            <div class="column is-2">
                <figure class="image">
                    <img class="is-rounded" src="img/matteo.jpg" style="max-width: 512px;">
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-size-1">Mattéo Dauchez</h1>
                <div class="block">
                    <p class="tag is-link is-medium mr-6"><i class="fas fa-map-marker-alt mr-2"></i>Briançon
                    </p>
                    <p class="tag is-link is-medium mr-6"><i
                            class="fas fa-envelope mr-2"></i>lekokeliko@gmail.com</p>
                    <p class="tag is-link is-medium mr-6"><i class="fas fa-phone mr-2"></i>0676201257</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO -->
